<form action="" method="post" name="register">
    <h1>Register New User</h1>
    <div class="field">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" ng-model="fname" placeholder="Enter your firstname" required/>
    </div>
    <div class="field">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" ng-model="lname" placeholder="Enter your lastname" required/>
    </div>
    <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" ng-model="email" placeholder="Enter your email address" required/>
    </div>
    <!-- DOB Violation of putting non-passive event on scroll element (this is likely due to the 
    $scope.today) -->
    <div class="field">
        <label for="dob">Date Of Birth:</label>
        <input type="date" ng-model="dob" id="dob" min="1870-01-01" max="{{ CurrentDate | date:'yyyy-MM-dd'}}" required/>
    </div>
    <div class="field">
        <label for="gender">Gender:</label>
        <select ng-model="selectedGender" ng-options="value for value in genders" id="gender" required>
            <option></option>
        </select>
    </div>
    <div class="field">
        <button type="submit">Submit</button>
    </div>
</form>

<noscript>You need to enable JavaScript to view the full site.</noscript>
