<form name="reserve" ng-submit="submit()">
  <h1>Reservations</h1>
  <div class="field">
      <label for="fname">Patient ID</label>
      <input type="text" id="uid" ng-model="fields.fname" placeholder="Enter your patient id" required/>
  </div>
  <div class="field">
    <label for="fname">Doctor</label>
    <select ng-model="fields.doctor" ng-options="value for value in doctors" id="doctor" required>
      <option></option>
    </select>
  </div>
  <div class="field">
      <!-- Need to add restrictions against weekends   -->
      <label for="apptDay">Appointment Day</label>
      <input type="date" ng-model="fields.apptDay" id="apptDay" min="{{ currentDate | date:'yyyy-MM-dd'}}" max="{{ future(currentDate, 10) | date:'yyyy-MM-dd'}}" required/>
  </div>
  <div class="field">
    <!-- Need to add restrictions to min if selected day is today -->
    <label for="apptTime">Appointment Time</label>
    <input type="time" ng-model="fields.apptTime" id="apptTime" min="08:00:00" max="16:45:00" required/>
  </div>
  <div class="field">
    <label for="fname">Appointment Reason</label>
    <input type="text" id="apptReason" ng-model="fields.apptReason"/>
  </div>
  <div class="field">
      <button type="submit">Submit</button>
  </div>
</form>

<noscript>You need to enable JavaScript to view the full site.</noscript>